.HeaderNav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex: 1;
}
.FooterNav {
  display: flex;
  flex-direction: row;
  padding: 0;
}
@media (min-width: 500px) {
  .HeaderNav {
    flex-flow: row;
  }
}
@media (max-width: 600px) {
  .FooterNav {
    flex-direction: column;
  }
}
@media (max-width: 960px) {
  .HeaderNav {
    display: none;
  }
}